{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block content %}
<style>
table{
    width:85%;
    border:20px;
    right:20%;
}
th{
    border:1px;
    border-color: black;
}
</style>

<center><body style = background-color:#d0d0ff;>
    
    <div1>
        <h1 style="font-family: Georgia;color:#04253a">{{ query }}</h1>
        <h5 style="font-family: Georgia;color:#04253a">{{ time }}</h5>
    </div1>

    <form action ="/search" style="width:500px; margin:auto" method="POST">
        <div class="box">
            <input type="t" name="query" id="query" placeholder="Search">
        </div>
    </form>
    
</body></center>

<center><table class="centered thick-border">
    {% for i, url in result%}
    <ul>
            <tr>
                    <td>{{ i }}.</td><td>{{ url }}</td>
            </tr>
    </ul>
    {% endfor %}
</table></center>
{% endblock %}