{% extends "base.html" %}
{% block title %}Display Patients{% endblock %}
{% block content %}

<!-- <style>
table{
    width:85%;
    border:20px;
    right:20%;
}
th{
    border:1px;
    border-color: black;
}
</style>

<center><table class="centered thick-border">
    <tr>
            <th>ID &nbsp;</th>
            <th>Assigned Doctor &nbsp;</th>
            <th>First Name &nbsp;</th>
            <th>Last Name &nbsp;</th>
            <th>Birthdate &nbsp;</th>
            <th>Phone Number &nbsp;</th>
            <th>Drug Currently Taking &nbsp;</th>
    </tr>
    {% for k in patients%}
            <tr>
                    <td>{{ k.ID }}</td>
                    &nbsp;
                    <td>{{ k.doctor }}</td>
                    &nbsp;
                    <td>{{ k.firstname.upper() }}</td>
                    &nbsp;
                    <td>{{ k.lastname.upper() }}</td>
                    &nbsp;
                    <td>{{ k.birthday}}</td>
                    &nbsp;
                    <td>{{ k.phone}}</td>
                    &nbsp;
                    <td>{{ k.drug.name.upper()}}</td>
            </tr>
    {% endfor %}
</table></center> -->

  {% endblock %}